<div id="boat-show-price-bg">
  <div id="boat-show-price">
    <span>$<%= req.boat.escape('price') %></span>
    <span>per night</span>
  </div>
</div>
<form id="rent-req-form">
  <div class="row">
    <div class="col-xs-9">
      <div class="col-xs-6">
        Check In
        <input type="text" name="start" class="date-start" placeholder="mm/dd/yyyy"/>
      </div>
      <div class="col-xs-6">
        Check Out
        <input type="text" name="leave" class="date-stop" placeholder="mm/dd/yyyy" />
      </div>
    </div>
    <div class="col-xs-3">
      Guests
    <select name="guests" id="num-guest-dd">
    </select>
    </div>
  </div>
  <div class="text-center">
    <input id="submit-rent-req" type="submit" value="Request to Book" />
  </div>
</form>
