<h1 style="color:white;">Login Page</h1>
<form>
  <input type="text" name="" id="" value="" />
  <input type="text" name="" id="" value="" />
  <input type="text" name="" id="" value="" />
  <input type="text" name="" id="" value="" />

</form>
