  <div class="login-form" style="">
    <p class="text-center sign-up-header">Sign Up</p>
    <form action="<%= session_url %>" method="post" >
      <input 
        type="hidden" 
        name="authenticity_token" 
        id="" 
        value="<%= form_authenticity_token %>" 
      />
      <div>
        <input 
          type="text" 
          placeholder="First Name" 
          name="user[f_name]" 
          class="login-field" 
          value="" 
        />
        <input 
          type="text" 
          placeholder="Last Name" 
          name="user[l_name]" 
          class="login-field" 
          value="" 
        />
      </div>
      <div>
        <input 
          type="text" 
          placeholder="Email" 
          name="user[email]" 
          class="login-field login-field-full" 
          value="" 
        />
      </div>
      <div>
        <input 
          type="password" 
          placeholder="Password" 
          name="user[password]" 
          class="login-field login-field-full" 
        />
      </div>
      <input type="submit" class="login-field login-field-full text-center btn btn-primary" value="Create Account" />
    </form>
    <!--<p id="sign-up-footer"> Already have an account? <a href="#">Log In</a></p>-->
  </div>
