<div class="map">
  <div id="map-canvas">

  </div>
</div>
<div id="search-area">
  <form id="search-form">
    <div class="row">
      <div class='col-xs-3'>
        <label for="">Dates</label>
      </div>
      <div class='col-xs-9'>
      <div class="col-xs-4">
        <input class="col-xs-4 date-start" type="text" name="start" placeholder="Check In" />
      </div>
      <div class="col-xs-4">
        <input class="col-xs-4 date-stop"type="text" name="leave" placeholder="Check Out" />
      </div>
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-xs-3">
        <label for="">Group Size</label>
      </div>
      <div class="col-xs-9">
        <label class="col-xs-3 search-size">
          <input type="radio" name="size[]" id="" value="4"/>
          2-4
        </label>
        <label class="col-xs-3 search-size">
          <input type="radio" name="size[]" id="" value="8"/>
          6-8 
        </label>
        <label class="col-xs-3 search-size">
          <input type="radio" name="size[]" id="" value="10"/>
          10+
        </label>
        <label class="col-xs-3" id="resetFilter">
        <a href="javascript:void(0)">Show All Boats</a>
        </label>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-xs-3">
        <label for="">Boat Type</label>
      </div>
      <div class="col-xs-9">
        <label class="col-xs-4 search-style">
          <input type="checkbox" name="styles[]" id="" value="Sail" checked="checked" />
          Sail
        </label>
        <label class="col-xs-4 search-style">
          <input type="checkbox" name="styles[]" id="" value="Budget" checked="checked"/>
          Budget
        </label>
        <label class="col-xs-4 search-style">
          <input type="checkbox" name="styles[]" id="" value="Luxury" checked="checked"/>
          Luxury
        </label>
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-xs-3">
        <label for="">Price</label>
      </div>
      <div class="container col-xs-6">
        <div id="search-price" class="row ui-slider ui-slider-range">
        </div>
        <div class="row">
          <span id="price-min">$0</span>
          <span id="price-max">$5000+</span>
        </div>
      </div>
    </div>
    <hr />
  </form>

  <div class="container-fluid">
    <ul class="display-area row">
    </ul>
  </div>
</div>
