<div class="map">
  <div id="map-canvas">
  </div>
</div>
<div id="search-area">
  <form>
    <div class="row">
      <div class='col-xs-3'>
        <label for="">Dates</label>
      </div>
      <div>
        <input type="text" name="" class="date-start" placeholder="Check In" />
        <input type="text" name="" class="date-stop" placeholder="Check Out" />
      </div>
    </div>
    <hr />

    <div class="row container">
      <div class="col-xs-3">
        <label for="">Group Size</label>
      </div>
      <div class="col-xs-9">
        <label class="col-xs-4">
          <input type="radio" name="size" id="" value="3" />
          2-3
        </label>
        <label class="col-xs-4">
          <input type="radio" name="size" id="" value="7" />
          4-6
        </label>
        <label class="col-xs-4">
          <input type="radio" name="size" id="" value="10" />
          10+
        </label>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-xs-3">
        <label for="">Boat Type</label>
      </div>
      <div class="col-xs-9">
        <label class="col-xs-4">
          <input type="checkbox" name="" id="" value="Sail" />
          Sail
        </label>
        <label class="col-xs-4">
          <input type="checkbox" name="" id="" value="Budget" />
          Budget
        </label>
        <label class="col-xs-4">
          <input type="checkbox" name="" id="" value="Luxury" />
          Luxury
        </label>
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-xs-3">
        <label for="">Price</label>
      </div>
      <div class="container col-xs-6">
        <div style="margin-top:5px" id="search-price" class="row ui-slider ui-slider-range">
        </div>
        <div class="row">
          <span id="price-min">$0</span>
          <span id="price-max">$1000</span>
        </div>
      </div>
    </div>
    <hr />
  </form>

  <div class="container-fluid">
    <ul class="display-area row">
    </ul>
  </div>
</div>
