<div class="map">
  <div id="map-canvas">
  </div>
</div>
<div class="search-area">
  <form>
    <div class="row">
      <div class='col-xs-3'>
        <label for="">Dates</label>
      </div>
      <div>
        <input type="text" name="" id="" value="" />
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-xs-3">
        <label for="">Group Size</label>
      </div>
      <div>
        <input type="text" name="" id="" value="" />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-xs-3">
        <label for="">Boat Type</label>
      </div>
      <div>
        <input type="text" name="" id="" value="" />
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-xs-3">
        <label for="">Price</label>
      </div>
      <div style="margin-top:5px"id="search-price" class="col-xs-6 ui-slider ui-slider-range">
      </div>
    </div>
    <hr />
  </form>

  <div class="container-fluid">
    <ul class="display-area row">
    </ul>
  </div>
</div>
