<h1>Add Listing</h1>
<form>
<div>
  <input type="text" name="boat[name]" placeholder="Name of Ship" value="" />
</div>
<div>
  <input type="text" name="boat[location]" placeholder="Location" value="" />
</div>
<div>
  <input type="text" name="boat[type]" placeholder="type" value="" />
</div>
<div>
  <input type="text" name="boat[description]" placeholder="description" value="" />
</div>
<div>
  <input type="text" name="boat[price]" placeholder="price" value="" />
</div>
<div>
  <input type="text" name="boat[size]" placeholder="size" value="" />
</div>
<div>
  <input class="btn btn-danger" type="submit" value="List My Yacht" />
</div>

</form>

<div class="live-preview">
<h2>live preview</h2>
</div>
