<div id="ball2">
</div>
<div>
<h1 class="text-center" style="color:white;position:relative;top:30px;">Party at Gatsby's!!</h1>  
<p class="text-center" style="color:white;margin-top:40px;">(refresh/close page to exit)</p>
</div>
<%= image_tag "wave1.png", id: "wave"%>
<div id="moving-boat-div">
  <div id="light-1">
  </div>
  <div id="light-2">
  </div>
  <div id="neon">
  </div>
</div>
<div id="moving-ocean">
</div>
