<div id="ball2">
</div>
<%= image_tag "wave1.png", id: "wave"%>
<div id="moving-boat-div">
  <div id="light-1">
  </div>
  <div id="light-2">
  </div>
  <div id="neon">
  </div>
</div>
<div id="moving-ocean">
  
</div>
