/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800,600,400);

body {
  font-family: 'open sans', Circular, 'helvetica neue', helvetica;
}

#env {
  background-image: url('env.png');
  background-size: cover;
}

#login-form {
  border: thin dashed blue;
  position:absolute;
  height: 500px;
  width: 400px;
  top: 50%;
  margin-top: -200px;
  left: 50%;
  margin-left: -200px;
}

#login-panel-one {
  position: relative;
  background-image: url('http://www.charterworld.com/images/yachts/SILENCIO%20-%20%20Aft%20Deck%20at%20Night.jpg');
  background-imagez: url('http://iliketowastemytime.com/sites/default/files/orsos-floating-mobile-island1.jpg');
  height: 600px;
  background-size: cover;
  * {
    color: white;
  }
}

#login-start {
  position: absolute;
  width:100%;
  display:block;
  bottom: 0;
  color: white;
  background-color: rgba(0,0,0,0.7);
  padding: 30px;
  #guest-login-btn {
    border:none;
    padding: 15px;
    border-radius: 10px;
    background-color: #ff5a5f;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    box-shadow: 4px 4px 4px rgba(0,0,0,1);
  }
  #guest-login-btn:focus {
    outline: 0;
  }
  #guest-login-btn:hover {
    position:relative;
    top:4px;
    left:4px;
    box-shadow:none;
  }
}

#login-panel-two {
  padding: 10px;
  color: #565a5c;
}

#welcome {
  position: relative;
  top: 20%;
  span {
    font-size: 4em;
    font-weight: 600;
  }
  text-shadow: 1px 1px 2px #777, 0px 0px 75px coral;
}

.header {
  padding: 30px 20px;
  a {
    margin: auto 10px;
    position: relative;
    text-decoration: none;
  }
}

.login-field {
  margin: 5px;
  font-size: 1.5em;
}

.logo {
  font-size: 1.5em;
}

.map {
  width: 40%;
  float:left;
}
.search-area {
  width: 60%;
  float:right;
}
