/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800,600,400);

.date-stop {
  width: 100%;
}
.date-start {
  width: 100%;
}
body {
  font-family: 'open sans', helvetica;
  color: #555;
}

z.navbar-brand {
  img {
    transition: 40s;
  }
  img:hover {
    transform: rotateZ(36000deg) rotateY(10800deg);
    transition: 1s ease-in-out;
  }
}
z#logout-btn:hover {
  transform: rotateX(3600deg) rotateY(3600deg) rotateZ(360deg);
  transition: 3s;
}
#boat-show-img-container {
  background-color: rgb(240,240,240);
  #boat-show-img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height: 75vh;
    background-size: cover;
    #boat-show-price {
      position: absolute;
      right: 15%;
      bottom: 0;
      background-color: rgba(50,50,50,0.8);
      padding: 5px 15px;
      color: white;
      > span:first-child {
        font-size: 1.5em;
      }
      span:nth-child(2) {
        margin-left: 50px;
      }
    }
  }
}

#boat-show-info {
  padding-top: 20px;
  #boat-show-owner {
    margin-bottom: 10px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
  }
  #boat-show-name {
    font-size: 2em;
    font-variant: small-caps;
  }
}

#boat-show-desc {
  padding-top: 20px;
  background-color: rgb(240,240,240) ;
}

#boat-show-about {
  background-color: rgb(240,240,240) ;
}

#boat-show-rent-req {
  position:relative;
  #num-guest-dd {
    position:relative;
    left: -10%;
  }
  #submit-rent-req {
    margin-top: 20px;
    width: 93%;
    background-color: #ff5a5f;
    color: white;
    padding: 10px;
    border: none;
  }
}

#container {
  margin-top: 50px;
}

#env {
  background-image: url('env.png');
  background-size: cover;
}

#list-boat {
  margin-top: 11px;
  padding: 4px 15px;
  background-color: #007a87;
  border: 1px solid #007a87;
  border-bottom-colorz: #004f58;
  border-radius: 3px;
  color: white;
  &:hover {
    background-color: #009aab;
  }
}

#login-form {
  border: thin dashed blue;
  position:absolute;
  height: 500px;
  width: 400px;
  top: 50%;
  margin-top: -200px;
  left: 50%;
  margin-left: -200px;
}

#login-panel-one {
  position: relative;
  background-image: url('http://www.charterworld.com/images/yachts/SILENCIO%20-%20%20Aft%20Deck%20at%20Night.jpg');
  background-imagez: url('http://iliketowastemytime.com/sites/default/files/orsos-floating-mobile-island1.jpg');
  height: 600px;
  background-size: cover;
  * {
    color: white;
  }
  .pull-right {
    padding: 15px;
    font-size: 0.9em;
  }
}

#login-start {
  position: absolute;
  width:100%;
  display:block;
  bottom: 0;
  color: white;
  background-color: rgba(0,0,0,0.7);
  padding: 30px;
  #guest-login-btn {
    border:none;
    padding: 15px;
    border-radius: 10px;
    background-color: #ff5a5f;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    box-shadow: 4px 4px 4px rgba(0,0,0,1);
    &:active {
      position:relative;
      top:4px;
      left:4px;
      box-shadow:none;
      outline: 0;
    }
    &:focus {
      outline: 0;
    }
  }
}


#login-panel-two {
  padding: 10px;
  color: #565a5c;
}

#logo {
  position: relative;
  background-image: url('sailbnbred.png');
  width: 200px;
  height: 100px;
  padding: 50px;
  background-size:cover;
}

#logout-btn {
  margin:0;
  background: #ff5a5f;
  padding:10px 20px 10px;
  border: 0;
  width:100%;
  text-align:left;
  color: white;
}

#search-area {
  width: 60%;
  min-height: 100%;
  float: right;
  padding-top: 20px;
  box-shadow: 0px -10px 10px rgba(0,0,0,0.1);
  form {
    padding-left: 0.8%;
    > .row {
      width: 100%;
      padding: 10px 0px 10px 20px;
    }
    .date-start {
      margin-left: 14px;
    }
    .date-stop {
      margin-left: 20px;
    }
    #search-price {
      margin-left: 23px;
    }
    #price-min {
      margin-left: 35px;
      padding-top: 10px;
      float:left;
      position:relative;
      left: -8px;
    }
    #price-max {
      padding-top: 10px;
      float:right;
      position:relative;
      right: -10px;
    }
  }
}


#user-dropdown {
   padding-bottom: 0px;
   .divider {
     margin-bottom: 0;
   }
}

#welcome {
  position: relative;
  top: 20%;
  span {
    font-size: 4em;
    font-weight: 600;
  }
  text-shadow: 1px 1px 2px #777, 0px 0px 50px black;
}


.boat-owner {
  float: right;
  position: absolute;
  bottom: 10px;
  right: 25px;
}
.boat-owner-img {
  margin-right: 0;
  height:90px;
  width: 90px;
  border-radius: 45px;
  border: 3px solid white;
}

.header {
  padding: 30px 20px;
  a {
    margin: auto 10px;
    position: relative;
    text-decoration: none;
  }
}

.index-list {
  position:relative;
  padding: 1%;
  list-style: none;
  height:100%;
  box-shadow: 2px 2px 3px rgba(200,200,200,0.0);
  margin-bottom: 8px;
  &:hover {
    top: -5px;
    box-shadow: 0px 0px 15px rgba(40,50,100, 0.5);
  }
  .index-image {
    text-decoration: none;
    display:inline-block;
    background-size:100% 100%;
    .boat-top {
      position: relative;
      .boat-img {
        height:100%;
        width:100%;
        min-height: 350px;
        min-width: 330px;
      }
      .boat-price {
        padding: 5px 15px;
        position: absolute;
        left: 0px;
        bottom: 70px;
        background-color: rgba(50,50,50,0.8);
        color: white;
        font-size: 1.75em;
        span {
          position: relative;
          top: -7px;
          left: -2px;
          font-size: 0.6em;
        }
      }
    }/*top-end*/
    .boat-bottom {
      padding: 10px 0px 0px 10px;
      .boat-name {
        font-size: 1.6em;
        font-variant:small-caps;
        font-weight: 600;
        color: black;
      }
      .boat-style {
        color: gray;
      }
      .boat-size {
        color: gray;
      }
      .boat-tagline {
        color: black;
      }
    }
  }
}

.login-field {
  margin: 5px;
  font-size: 1.5em;
}

.logo {
  font-size: 1.5em;
}

.map {
  width: 40%;
  float:left;
  height: 100vh;
  position: fixed;
  #map-canvas {
    width: 100%;
    height: 100%;
  }
}

.navbar {
  height: 50px;
  padding-right: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);

}

